:root {
  --black: black;
  --darkBlue: #1F3B98;
  --white: white;
  --lightGray: lightgray;
  --darkGray: darkgray;
  --orange: #FF9C54;
}

a {
  text-decoration: none;
  color: white;
  transition: transform 1s;
}

.links h3, .categories h3, .contact-info h3, .socials h3 {
  font-size: 1.1rem;
}
.links ul a, .categories ul a, .contact-info ul a, .socials ul a {
  font-size: 0.9rem;
}
.links ul a:hover, .categories ul a:hover, .contact-info ul a:hover, .socials ul a:hover {
  text-decoration: underline;
  text-underline-offset: 0.1rem;
}

.contact-info ul a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  transform: scale(1.05);
  cursor: pointer;
}

ul {
  padding: 0;
  list-style-type: none;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  justify-content: space-between;
  z-index: 50;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease;
}
nav .active {
  font-weight: 600;
}
nav > div:first-of-type img {
  width: 180px;
  height: auto;
}
nav > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
nav > div:nth-of-type(3) {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
nav > div:nth-of-type(3) button {
  font-size: 1rem;
  padding: 0.35rem 1rem;
}
nav > div:nth-of-type(3) img {
  padding: 0.1rem 0.25rem;
  border-radius: 50%;
  border: solid 2px #1F3B98;
  cursor: pointer;
  transition: all ease 100ms;
}
nav > div:nth-of-type(3) img:hover {
  background: whitesmoke;
  border: solid 2px #1F83CB;
}
nav > div:nth-of-type(3) img:active {
  border: solid 2px black;
}
nav .openBtn {
  display: none;
  cursor: pointer;
  transition: all ease 100ms;
}
nav .openBtn:hover {
  opacity: 0.5;
  scale: 1.05;
}
nav .responsiveMenu {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 8rem 0 0 0;
  align-items: center;
  text-align: center;
  transition: width ease 0.3s;
}
nav .responsiveMenu .close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  transition: ease 100ms;
  cursor: pointer;
}
nav .responsiveMenu .close:hover {
  opacity: 0.6;
  scale: 1.05;
}
nav .responsiveMenu > div {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
nav .responsiveMenu button {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.35rem 1rem;
}
nav .responsiveMenu .profile {
  display: flex;
  column-gap: 0.5rem;
}
nav .responsiveMenu .profile img {
  width: 1rem;
}
nav .responsiveMenu .profile.active p {
  font-weight: 600;
}
nav .responsiveMenu.close {
  width: 0;
  pointer-events: none;
  padding-left: 0;
}
nav .responsiveMenu.close a {
  color: transparent;
}
nav .responsiveMenu.close button {
  background: transparent;
  color: transparent;
}
nav a {
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

nav.opaque {
  box-shadow: 1px 1px 14px #d3d3d3;
  background-color: white;
}

/* footer */
.footer {
  width: 100%;
  background-color: var(--darkBlue);
  color: var(--white);
  padding: 40px 0px 50px 0px;
  margin-top: 70px;
}

.footer-start {
  flex-basis: 10%;
  margin-bottom: 1rem;
}

.footer-logo {
  width: 211px;
  height: auto;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin: auto;
  font-size: 13px;
}

.footer-column {
  flex-basis: 20%;
}
.footer-column h3 {
  margin-bottom: 15px;
}

.footer a:hover {
  opacity: 0.75;
}

.footer ul {
  color: var(--white);
  align-self: center;
}

.footer ul li {
  margin-bottom: 8px;
}

.footer-contact ul li {
  margin-bottom: 13px;
}

.footer-contact ul li img {
  margin-right: 15px;
}

.footer-social {
  margin-right: 15px;
}

@media screen and (max-width: 1100px) {
  nav > div:nth-of-type(2), nav > div:nth-of-type(3) {
    column-gap: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  nav > div:nth-of-type(2), nav > div:nth-of-type(3) {
    display: none;
  }
  nav .openBtn {
    display: unset;
  }
}
@media screen and (max-width: 600px) {
  nav {
    padding: 1rem 1rem;
  }
  nav > div:first-of-type img {
    width: 150px;
  }
}
@media screen and (max-width: 365px) {
  nav {
    padding: 1rem 0.5rem;
  }
}
@media only screen and (max-width: 399px) {
  /* footer */
  .footer {
    width: 100%;
    margin-top: 50px;
  }
  .footer-start {
    flex-basis: 100%;
  }
  .footer-logo {
    width: 200px;
    height: auto;
  }
  .footer-flex {
    font-size: 12px;
    text-align: center;
  }
  .footer-column {
    flex-basis: 100%;
    margin: 1rem 0;
  }
  .footer-column h3 {
    margin-bottom: 10px;
  }
  .socials {
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  /* navbar */
  header img {
    margin-top: 12px;
    margin-left: 15px;
    align-self: center;
    width: 140px;
    height: 46px;
  }
  header nav {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 5px var(--lightGray);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }
  header nav a {
    display: inline-block;
    color: var(--black);
    font-weight: bold;
    font-size: 13px;
    margin: 10px;
  }
  header nav .signupBtn {
    color: var(--white);
    background-color: var(--darkBlue);
    padding: 7px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--darkGray);
  }
  header nav .signupBtn:hover {
    color: var(--white);
  }
  header nav a:hover {
    color: var(--darkBlue);
  }
  header .nav-mobile {
    display: none;
    justify-content: space-around;
    gap: 60px;
    margin-right: 0;
  }
  header .nav-mobile .nav-section1 {
    align-self: center;
    margin-left: auto;
  }
  header .nav-mobile .nav-section2 {
    align-self: center;
    margin-left: auto;
    margin-right: 20px;
  }
  header nav .menu-icon {
    align-self: center;
    width: 28px;
    height: 28px;
    margin-right: 15px;
    margin-bottom: 10px;
    filter: invert(12%) sepia(54%) saturate(5132%) hue-rotate(227deg) brightness(104%) contrast(86%);
  }
  header nav .back-icon {
    width: 28px;
    height: 24px;
    margin-right: 15px;
    margin-bottom: 10px;
    filter: invert(12%) sepia(54%) saturate(5132%) hue-rotate(227deg) brightness(104%) contrast(86%);
  }
  .mobile-menu {
    color: white;
    background-color: #1F3B98;
    width: 50%;
    margin-left: auto;
    right: 0;
    top: 58px;
    height: 100vh;
    box-shadow: -0.5px 1px 8px 0px rgb(32, 33, 33);
    position: absolute;
  }
  .mobile-menu ul {
    text-align: left;
    padding: 25px 10px;
  }
  .mobile-menu li {
    margin-left: 10px;
  }
  .mobile-menu hr {
    margin: 25px 0;
    background-color: white;
  }
  /* footer */
  .footer {
    padding: 25px 0px 30px 0px;
    margin-top: 70px;
  }
  .footer-start {
    flex-basis: 100%;
  }
  .footer-logo {
    width: 180px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 1rem;
  }
  .logo-subtext {
    font-size: 9px;
    width: 30%;
    margin: 0 44px;
    margin-bottom: 17px;
    color: var(--orange);
  }
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
    font-size: 13px;
  }
  .footer-column {
    flex-basis: 40%;
    margin-left: 30px;
  }
  .footer-column h3 {
    margin-bottom: 10px;
  }
  .footer ul li {
    margin-bottom: 3px;
  }
  .footer-contact {
    display: flex;
    flex-basis: 100%;
    gap: 4rem;
    margin-right: 60px;
  }
  .footer-contact .contact-info {
    flex-basis: 57%;
    margin-top: 26px;
    padding-right: 0;
  }
  .footer-contact .socials {
    flex-basis: 40%;
    margin-top: 0;
    padding-left: 0;
  }
  .footer-contact ul li {
    margin-bottom: 13px;
  }
  .footer-contact ul li img {
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .footer-social {
    margin-right: 10px;
  }
  .footer-social img {
    width: 15px;
    height: 15px;
  }
}
@media only screen and (min-width: 610px) and (max-width: 860px) {
  /* footer */
  .footer-start {
    flex-basis: 100%;
  }
  .footer-logo {
    width: 161px;
    height: auto;
    margin-left: 15px;
  }
  .logo-subtext {
    font-size: 10px;
    width: 30%;
    margin: 0 40px;
    margin-bottom: 10px;
  }
  .footer-column {
    flex-basis: 23%;
  }
}
@media only screen and (min-width: 850px) {
  header .nav-mobile {
    gap: 0;
    flex-basis: 85%;
  }
  header .nav-mobile .nav-section2 {
    margin-right: 5px;
  }
  header nav .menu-icon {
    display: none;
  }
}
@media only screen and (width: 1024px) and (height: 1366px) {
  .footer {
    position: absolute;
    bottom: 0;
  }
}
@media only screen and (min-width: 1800px) {
  /* navbar */
  header img {
    margin-top: 17px;
    margin-left: 30px;
    width: 180px;
    height: 60px;
  }
  header nav a {
    font-size: 22px;
    margin: 12px;
  }
  header nav .signupBtn {
    padding: 10px 15px;
  }
  header .nav-mobile .nav-section2 {
    margin-right: 0px;
  }
  /* footer */
  .footer {
    position: absolute;
    bottom: 0;
    padding: 70px 0px 90px 0px;
  }
  .footer ul li {
    font-size: 23px;
    margin-bottom: 18px;
  }
  .footer-contact ul li {
    margin-bottom: 18px;
  }
  .footer-logo {
    width: 271px;
    height: auto;
  }
  .logo-subtext {
    font-size: 15px;
  }
  .footer-column h3 {
    font-size: 27px;
  }
  .footer-social img {
    width: 27px;
    height: 27px;
    margin-right: 5px;
  }
}

/*# sourceMappingURL=index.css.map */
